<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>Login page</h1>
    <form action="/account/login" method="post">
      
        <input type="text" name="email" placeholder="email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Login</button>
    </form>
    <a href="/account/register">Register</a><br>
    <a href="/account/auth/google">google</a>
</body>
</html>